@font-face {
    font-family: pkfont;
    src: url(pkfont.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'pkfont';
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#outside-menu {
    width: 50%;
}

.screen {
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
}

.overlay {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#arena-overlay{
    position: absolute;
    top: 272px;
    left: 484px;

}

#battleground {
}

/* Text box*/

.chat-outer {
    background-color: #393442;
    position: inherit;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px;
}

.chat-mid {
    background-color: #ab2a20;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 5px 15px;

}

.chat-inner {
    box-sizing: border-box;
    background-color: #279185;
    border-radius: 20px;
    color: #f2ecdc;
    flex: 1;
    padding-left: 30px;
    padding-top: 15px;

    text-shadow: 2px 2px 4px #1f1b36;
    font-size: 48px;
}

/* Menu */
.menu-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 178px;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.empty {
    flex: 6;
}

#menu-main {
    flex: 4;
}

.menu-outline {
    background-color: #393442;
    border: 5px solid #393442;
    display: flex;
}

.menu-outer {
    background-color: #685d78;
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 10px
}

.menu-inner {
    background-color: #f2ecdc;
    border: 3px solid #d9d4c6;
    border-radius: 10px;
    height: 100%;
    display: flex;
    padding: 9px;
}

.menu-left, .menu-right {
    display: flex;
    flex-flow: column;
    flex: 1;
}

#menu-main-options {
    gap: 10px;
}

.menu-option {
    border: 3px solid #f2ecdc;
    display: flex;
    align-items: center;
    flex: 1;

    font-size: 40px;
    text-shadow: 2px 2px 4px gray;
}

#pp-main {
    flex: 1;
}

/* HP Boxes */
.hp-outer {
    border: 3px solid #50635c;
    background-color: #50635c;
    border-radius: 13px;
    width: 30%;
    position: absolute;
}

#foe-outer {
    left: 70px;
    top: 65px;
}

#user-outer {
    left: 515px;
    top: 290px;
}
.hp-inner {
    background-color: #ffeec2;
    border: 3px solid #0b2e07;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
}

.hp-bot {
    background-color: #50625c;
    border: 2px solid #50625c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 16px;
    width: 70%;

}

.hp-container {
    display: flex;
    flex: 1;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
}

.hp-green {
    background-color: #7dff93;
    flex: 64;
}

.hp-black {
    background-color: #50635c;
    flex: 0;
}

/* Pokemon */
.sprite {
    width: 250px;
    height: 250px;
}

#user-sprite {
    position: absolute;
    top: 220px;
    left: 100px;
}

#foe-sprite {
    position: absolute;
    top: 80px;
    left: 530px;
}

/* Moves */
.move {
    position: absolute;
}

#paper {
    top: 200px;
    left: 600px;
    scale: 2;
}

#rock {
    scale: 4;
    left: 640px;
}

.scissor {
    scale: 2.5;
    top:200px;
    left: 640px;
}

#scissor4 {
    top:195px;
}

#scissor5 {
    left: 642px;
    top:201px;
}

/* Active Items */

.select {
    border: 3px solid red;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#user-sprite.bobbing {
    animation: jumping 1s forwards;
    animation-iteration-count: infinite;
}

@keyframes jumping {
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}

.fainted {
    animation: fainting 130ms forwards;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fainting {
    100% {
        transform: translateY(200px);
    }
}