@font-face {
    font-family: pkfont;
    src: url(pkfont.ttf);
}

@font-face {
    font-family: bigapple;
    src: url(BigAppleNF.ttf);
}

@font-face {
    font-family: minecraft;
    src: url(minecraft.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'pkfont';
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.screen {
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
}

.overlay {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 72px;
    opacity: 0.8;
}

#arena-overlay{
    position: absolute;
    top: 272px;
    left: 484px;
}

/* music and controls box */

#outside-menu {
    position: relative;
}

#battle-button {
    padding: 0;
}

#helpbox {
    display: flex;
    gap: 10px;
}

#red-circle {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* Text box*/

.chat-outer {
    background-color: #393442;
    position: inherit;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px;
}

.chat-mid {
    background-color: #ab2a20;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 5px 15px;

}

.chat-inner {
    box-sizing: border-box;
    background-color: #279185;
    border-radius: 20px;
    color: #f2ecdc;
    flex: 1;
    padding-left: 30px;
    padding-top: 15px;

    font-size: 48px;
    text-shadow: 2px 2px 4px #1f1b36;
}


/* Menu */
.menu-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 178px;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.empty {
    flex: 6;
}

#menu-main {
    flex: 4;
}

.menu-outline {
    background-color: #393442;
    border: 5px solid #393442;
    display: flex;
}

.menu-outer {
    background-color: #685d78;
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 10px
}

.menu-inner {
    background-color: #F1F1EC;
    border: 3px solid #deded3;
    border-radius: 10px;
    height: 100%;
    display: flex;
    padding: 9px;
}

.menu-left, .menu-right {
    display: flex;
    flex-flow: column;
    flex: 1;
}

#menu-main-options {
    gap: 10px;
}

.menu-option {
    border: 3px solid #F1F1EC;
    display: flex;
    align-items: center;
    flex: 1;

    font-size: 40px;
    text-shadow: 2px 2px 4px #9d9d7b;
}

#pp-main {
    flex: 1;
}

/* HP Boxes */
.hp-outer {
    border: 3px solid #50635c;
    background-color: #50635c;
    border-radius: 13px;
    width: 35%;
    position: absolute;
}

.hp-top {
    display: flex;
}

.name {
    font-size: 24px;
}

.level {
    margin-left: auto;
    margin-right: 10px;
    font-size: 18px;
}

.gender {
    font-size: 20px;
}

#user-gender {
    color: #ff5d52;
}

#foe-gender {
    color: skyblue;
}

#foe-outer {
    left: 50px;
    top: 65px;
}

#foe-inner {
    padding-bottom: 3px;
}

#user-outer {
    left: 515px;
    top: 290px;
}

.shadow {
    text-shadow: 1px 1px 3px #805b00;
}

.hp-inner {
    background-color: #ffeec2;
    border: 3px solid #0b2e07;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 12px 5px 0px 15px;
}

.hp-bot {
    background-color: #50625c;
    border: 2px solid #50625c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 16px;
    width: 70%;
}

.hp {
    font-family: 'bigapple';
    background: -webkit-linear-gradient(#ffd1b3, #ff751a, #b34700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3px;
}

.hp-container {
    display: flex;
    flex: 1;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
}

.hp-green {
    background-color: #7dff93;
    flex: 64;
}

.hp-black {
    background-color: #50635c;
    flex: 0;
}

#hp-number {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 10px;
}

#exp-container {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 15px 0px 0px ;
    color: #F6FF27;
    font-family: 'minecraft','bigapple';
    font-size: 12px;
}

#exp-bar {
    background: repeating-linear-gradient(
    to right,
    #f5da90,
    #f5da90 5px,
    #a37c0f 5px,
    #a37c0f 10px
    );
    margin-left: 5px;
    width: 78%;
    height: 7px;
}

#exp {
    background-color: #00A8E6;
    height: 100%;
    width: 30%;
}

/* Pokemon */
.sprite {
    width: 250px;
    height: 250px;
}

#user-sprite {
    position: absolute;
    top: 220px;
    left: 100px;
}

#foe-sprite {
    position: absolute;
    top: 80px;
    left: 530px;
}

/* Moves */
.move {
    position: absolute;
}

#paper {
    top: 200px;
    left: 600px;
    scale: 2;
}

#paper-alt {
    top: 350px;
    left: 180px;
    scale: 3;
}

#rock {
    scale: 4;
    left: 640px;
}

#rock-alt {
    scale:5.5;
    left:220px;
    top: 70px;
}

.scissor {
    scale: 2.5;
    top:200px;
    left: 640px;
}

.scissor-alt {
    scale: 4;
    top:340px;
    left: 200px;
}

#scissor4-alt {
    top: 335px;
}

#scissor5-alt {
    left: 205px;
    top: 345px;
}

#scissor4 {
    top:195px;
}

#scissor5 {
    left: 642px;
    top:201px;
}

.charge {
    scale: 9;
    top: 140px;
    left: 630px;
    opacity: 0.9;
}

#charge1 {
    top:145px;
    left: 640px;
}

.charge-alt {
    scale: 12;
    top: 270px;
    left: 200px;
}

#charge1-alt {
    left: 210px;
}

/* Status */
#status {

    position: absolute;
    width: 60%;
    height: 40%;
    right: 5px;
    top: 5px;

    text-shadow: 2px 2px 4px #9d9d7b;
}

#status-inner {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.stat {
    width: 47%;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.stat-num {
    margin-left: auto;
}

/* Active Items */

.select {
    border: 3px solid red;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#user-sprite.bobbing {
    animation: jumping 1s forwards;
    animation-iteration-count: infinite;
}

@keyframes jumping {
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}

.fainted {
    animation: fainting 160ms forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fainting {
    100% {
        transform: translateY(200px);
    }
}


#user-outer.lvlup {
  -webkit-animation: lvling 300ms; 
  animation: lvling 300ms;  
}

@-webkit-keyframes lvling {
  0% { background-color: #50635c; }
  0% { border-color: #50635c; }
  50% { background-color: #BBDBFF; }
  50% { border-color: #BBDBFF; }
  100% { background-color: #50635c; }
  100% { border-color: #50635c; }
}

@keyframes lvling {
  0% { background-color: #50635c; }
  0% { border-color: #50635c; }
  50% { background-color: #BBDBFF; }
  50% { border-color: #BBDBFF; }
  100% { background-color: #50635c; }
  100% { border-color: #50635c; }
}